@import "./../../../variables/color-scheme.scss";
.slider {
    height: 100%;
    width: 100vw;
    background-color: $light-color;
    color: $contrast5;
    padding: 5% 0 5% 0;
    .about {
        font-size: 10vw !important;
    }
    .panel1 {
        color: $contrast1;
        background-color: $contrast5;
        & > h2 {
            width: -webkit-fill-available;
            border-bottom: 2px solid transparent;
            text-align: end;
        }
        & > h2:hover {
            border-bottom: 2px solid $contrast1;
            font-weight: 700;
            transition: all 500ms;
        }
    }
    .panel2 {
        color: $contrast5;
        background-color: $contrast1;
        & > h2 {
            width: -webkit-fill-available;
            border-bottom: 2px solid transparent;
            text-align: start;
        }
        & > h2:hover {
            border-bottom: 2px solid $contrast5;
            font-weight: 700;
            transition: all 500ms;
        }
    }
    .panel3 {
        color: $contrast1;
        background-color: $contrast5;
        & > h2 {
            width: -webkit-fill-available;
            border-bottom: 2px solid transparent;
            text-align: end;
        }
        & > h2:hover {
            border-bottom: 2px solid $contrast1;
            font-weight: 700;
            transition: all 500ms;
        }
    }
}

h2 {
    padding: 1rem;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    padding: 1rem;
    width: 100%;
    & li {
        padding: .5rem 0 .5rem 0;
    }
}

@media(min-width: 768px) {
    .about > h1 {
        transform: rotate(270deg);
        text-align: center;
        width: max-content;
    }    
}

.tech {
    & > li {
        float: right;
        width: 100%;
    }
    & > li:hover {
        padding-right: 20px;
        transition: all 400ms;
        font-weight: 600;
    }
}