@import "./../../../variables/color-scheme.scss";
.slider {
    height: 100%;
    width: 100vw;
    background-color: $light-color;
    color: $contrast5;
    padding: 5% 0 5% 0;
    .about {
        font-size: 10vw !important;
    }
    .panel1 {
        color: $contrast1;
        background-color: $contrast5;
    }
    .panel2 {
        color: $contrast5;
        background-color: $contrast1;
    }
    .panel3 {
        color: $contrast1;
        background-color: $contrast5;
    }
}

h2 {
    padding: 1rem;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    padding: 1rem;
    & li {
        padding: .5rem 0 .5rem 0;
    }
}

@media(min-width: 768px) {
    .about > h1 {
        transform: rotate(270deg);
        text-align: center;
        width: max-content;
    }    
}