<div class="slider">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-11 col-md-3 about">
                <h1 class="about">About</h1>
            </div>
            <div class="d-flex flex-column align-items-end col-11 col-md-3 panel1">
                <h2>Tech stack</h2>
                <ul class="text-end">
                    <li>Java</li>
                    <li>Angular</li>
                    <li>HTML5, CSS3</li>
                    <li>Typescript, Javascript</li>
                    <li>RESTful Web services</li>
                    <li>Data structures</li>
                    <li>Algorithms</li>
                    <li>Docker</li>
                    <li>MySQL</li>
                    <li>JQuery</li>
                </ul>
            </div>
            <div class="d-flex flex-column align-items-start col-11 col-md-3 panel2">
                <h2>Certification</h2>
                <ul class="text-start">
                    <li>Docker for the Absolute Beginner - Hands On - DevOps, Udemy.</li>
                    <li>RESTful Web Services with Spring Framework - A quick start, Udemy.</li>
                    <li>The Complete Angular Course: Beginner to Advanced, Udemy.</li>
                    <li>Learn Angular 4 from Scratch, Udemy.</li>
                </ul>
            </div>
            <div class="d-flex flex-column align-items-end col-11 col-md-3 panel3">
                <h2>Education</h2>
                <ul class="text-end">
                    <li>B. Tech Information Technology,<br>PSG College of Technology (2015- 2019)</li>
                </ul>
            </div>
        </div>
    </div>
</div>