$primary-color1: #264653;
$secondary-color1: #acc1c9;
$contrast1: #e9c46a;
$contrast2: #e76f51;
$contrast3: #f4a261;
$contrast4: #2a9d8f;
$contrast5: #1d3557;
$light-color: #f1ecdf;

$primary-color2: #E9C46A;
$secondary-color2: #f3efe6;
$primary-color3: #0077B6;
$secondary-color3: #CAF0F8;
$primary-color4: #0b1b22;
