<div class="slider">
    <div class="slider-content d-flex justify-content-center align-items-center">
        <div class="col-12">
            <div class="col-12">
                <h1>Hey there...</h1>
            </div>
            <br>
            <div class="col-12">
                <h1>I'm <span class="name">Harish</span>,</h1>
            </div>
            <div class="col-12">
                <h1>a <span class="designation">Software Engineer</span>.</h1>
            </div>
        </div>
    </div>
</div>